import(methods)
import(BiocGenerics)
import(XVector)
import(IRanges)
import(BiocParallel)
import(GenomicRanges)

## Rsamtools
importClassesFrom(Rsamtools, ScanBamParam, BamFile, BamFileList)
importFrom(Rsamtools,
    path, index,
    BamFile, BamFileList, 
    scanBamHeader, scanBamWhat, bamWhich, "bamWhich<-")
importMethodsFrom(Rsamtools,
    path,
    ScanBamParam, scanBam, countBam, scanFa, countFa, 
    yieldSize, "yieldSize<-", scanFaIndex)

export(
    ## from R/FileViews:
    fileList, "fileList<-", filePaths, "filePaths<-",
    fileIndices, "fileIndices<-", fileSamples, "fileSamples<-", 
    fileRanges, "fileRanges<-", fileExperiment, "fileExperiment<-",
    "fileDirname<-", byFile, "byFile<-",
    delegateByFile, delegateByRange
)

exportClasses(
    FileViews, BamFileViews, FaFileViews, TabixFileViews, VcfFileViews
)

exportMethods(
    ## from R/FileViews:
    "[", dim, names, show, yieldSize,

    ## from R/BamFileViews:
    BamFileViews, scanBam, countBam, 

    ## from R/FaFileFiews:
    FaFileViews, scanFa, countFa
)

