import(methods)
import(BiocGenerics)
import(XVector)
import(IRanges)
import(BiocParallel)
import(GenomicRanges)

## Rsamtools
importClassesFrom(Rsamtools, ScanBamParam)
importFrom(Rsamtools, 
    scanBamHeader, scanBamWhat, bamWhich, "bamWhich<-")
importMethodsFrom(Rsamtools, 
    ScanBamParam, scanBam, countBam, scanFa, countFa, 
    yieldSize, "yieldSize<-", scanFaIndex)

export(
    ## from R/GFileViews:
    filePaths, fileIndices,
    fileSamples, "fileSamples<-", fileRanges, "fileRanges<-",
    fileExperiment, "fileDirname<-"

)

exportClasses(
    GFileViews, BamGFileViews, FaGFileViews, TabixGFileViews, VcfGFileViews
)

exportMethods(
    ## from R/GFileViews:
    "[", dim, names, show,

    ## from R/BamGFileViews:
    BamGFileViews, scanBam, countBam, 

    ## from R/FaGFileFiews:
    FaGFileViews, scanFa, countFa
)

